* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 1rem;
}

body {
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  background-color: #cfd0f6;
  user-select: none;
}

form {
  width: 100%;
  position: fixed;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 14rem;
  width: 80vw;
  margin: auto;
}

button {
  background-color: #050a93;
  color: #FFF;
  font-weight: bold;
  padding: 0.5rem;
  font-size: 1rem;
}

button.selected {
  background-color: #600404;
}

ul {
  padding: 4rem 8rem 1rem;
}

ul p {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}

li {
  list-style: none;
  background-color: #abaef5;
  padding: 1rem;
  margin-bottom: 1rem;
  border: 2px solid rebeccapurple;
}

.table-container {
  display: grid;
  width: 100%;
  margin: auto;
  overflow-y: auto;
  padding-top: 2.3rem;
}

.table-container p {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}

td {
  border: 2.5px solid #000;
  padding: 1rem .2rem;
  background-color: rgb(195, 210, 231);
}